
img {
    display: block;
    width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
    margin: auto;
    padding: 0;
    max-width: 1200px;
}

body {
    background-color: #ffdfa7;
}


/* FORSIDEN */

#hero {
    background-image: url(pic/herobillede.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    position: relative;
    
}

#hero h1 {
    color: white;
    font-size: 6rem;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    
}

#hero h2 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    position: absolute;
    top: 48px;
    right: 10px;
    padding: 10px;
    
    
}

/* menubar */

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    gap: 20px;
    overflow-x: auto;
    font-size: 1.3rem;
    scrollbar-width: none;
}

a {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}




a:hover {
    color: #130f61;
}


/* PORTFOLIO SIDE */


#section_one h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #DC6F2B;
    font-size: 3rem;
    text-align: center;
    padding-top: 60px;
    margin: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.tema2 {
    background-image: url(pic/flowers.webp);
    background-size: cover;
    aspect-ratio: 1/1;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.tema3 {
    background-image: url(pic/flowers.webp);
    background-size: cover;
    aspect-ratio: 1/1;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.tema4 {
    background-image: url(pic/flowers.webp);
    background-size: cover;
    aspect-ratio: 1/1;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.tema5 {
    background-image: url(pic/flowers.webp);
    background-size: cover;
    aspect-ratio: 1/1;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#section_one a {
    font-size: 2rem;
}



/* OM MIG SIDE */


#tekst_wrap {
    background-color: white;
    text-align: start;
    justify-self: center;
    padding: 20px;
}

#tekst_wrap p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

#nummer_et .grid_wrapper #tekst_wrap h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

#info_om_mig .info_wrapper {
opacity: 100%;
background-color: white;
padding: 2vw;
text-align: start;
margin: 4vw;
}


#info_om_mig .info_wrapper p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

/* cv */

#section_cv {
    padding: 10vw;
}

#section_cv h2 {
    font-family: 'Bebeas Neue', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: #528ED3;
}

#skole {
    padding: 5vw;
    background-color: white;
    line-height: 0.7;
    text-align: center;
}

#section_cv h3 {
    font-family: 'Bebeas Neue', sans-serif;
    font-size: 1.3rem;
    color: #130f61;;
}

#section_cv h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

#section_cv p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.butik {
    padding: 5vw;
    background-color: white;
    line-height: 0.7;
    text-align: center;
    margin-top: 5vw;
}

.malaga {
    padding: 2vw;
    background-color: white;
    line-height: 0.7;
    text-align: center;
}


.tjener {
    padding: 2vw;
    background-color: white;
    line-height: 0.7;
    text-align: center;
}

.vikar {
    padding: 2vw;
    background-color: white;
    line-height: 0.7;
    text-align: center;
    padding-bottom: 5vw;
}

.afrika {
    padding: 5vw;
    background-color: white;
    line-height: 0.7;
    text-align: center;
    margin-top: 5vw;
}

/* ALLE TEMASIDER */

.overskrift h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #130f61;
    font-size: 3rem;
    padding-top: 15vw;
    margin: 20px;
}



/* MEDIAS */


/* MENUBAR */

@media (min-width: 940px) {
    a {
        font-size: 2rem;
    }
}



/* FORSIDE */ 

/*h1*/
@media (min-width: 1132px) {
    #hero h1 {
        position: absolute;
        top: -1.5rem;
        left: -4rem;
        font-size: 7rem;
    }

}


@media (max-width: 1352px) {
    #hero h1 {
        top: -1.5rem;
        left: 1rem;
        font-size: 6rem;
    }
}

/*h2*/
@media (min-width: 678px) {
    #hero h2 {
        top: 3rem;
        left: 20rem;
    }
}

@media (min-width: 1130px) {
    #hero h2 {
        position: absolute;
        top: 590px;
        left: 700px;
        font-size: 2.5rem;
        padding: 0px;
    }
    
}

@media (min-width: 1349px) {
    #hero h2 {
        position: absolute;
        top: 560px;
        left: 761px;
        font-size: 3.5rem;
        padding: 0px;
    }
    
}



/*PORTFOLIO*/
/* media section_one */

@media (min-width: 640px) {
    #section_one .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
        margin-top: 60px;
    }
}



/*OM MIG SIDE */

/* SECTION NUMMER_ET*/

@media (min-width: 640px) {

    #nummer_et {
        width: 100%;
        box-sizing: border-box;
    }

    #nummer_et .grid_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    #nummer_et .grid_wrapper #billede_mig1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #nummer_et .grid_wrapper #tekst_wrap {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    #nummer_et .grid_wrapper #billede_mig6 {
        grid-column: 3/5;
        grid-row: 3/4;
        height: 100px;
    }

}

/* @media (min-width: 750px) {

    #section_cv .cv_wrapper {
        max-width: 400px;
    }
} */





